body {
  background-color: #f0f0f0;
  font-size: 14px;
  color: #333;
  margin: 0 auto;
}
h1,h2,h3,h4,h5,h6,p {
  padding: 10px 0;
  margin: 0;
}

header {
  background-color: gray;
  height: 150px;
}

.heading {
  height: 100px;
  width: 960px;
  background-color: #CCCCCC;
  margin: 0 auto;
}

.contents {
  background-color: #C0C0C0;
  width: 960px;
  margin: 10px auto;
}

.navbar {
  height: 50px;
  width: 960px;
  background-color: #A9A9A9;
  margin: 0 auto;
}

.left-content {
  height: 400px;
  width: 640px;
  background-color: white;
  float: left;
}

.right-content {
  height: 370px;
  width: 320px;
  background-color: #f9f9f9;
  float: left;
}

footer {
  background: gray;
  height:50px;
  text-align: center;
}

.clearfix:after {
  content: "";
  clear: both;
  display: block;
}

.title {
  font-family: fantasy;
}

.heading-sentence {
  font-size: 18px;
}

ul {
  margin: 0;
  padding: 0;
  list-style: none;
  display: flex;
}

ul li {
  margin: 0;
  padding-right: 10px;
}

td {
  margin: 0;
  padding-left: 10px;
  line-height: 30px;
}

.stylist-image {
  height: 100px;
  width: 100px;
}

.stylist-name {
  font-size: 16px;
  text-align: center;
}

a {
  color: red;
}

a:hover {
  color: blue;
}
